mat-card {
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.icon-cell {
  cursor: pointer;
  text-align: right;
}

button{
    margin-left: 1.5rem;
}

mat-toolbar{
    margin-bottom: 1.5rem;
    //todo: change to theme color
    background-color:  #3F51B5;
    color: whitesmoke;
}